@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="display: flex; justify-content: center; padding-top: 100px;">
	<div class="card" style="width: 500px; height: auto; text-align: center; padding: 20px 0; margin: 5px;">
		<div class="card-body">
			<h4>Social Media Site</h4>
			<p>Your place to share the moment.</p>
			<h2 class="display-4">Welcome</h2>
			<br>
			<div>
				<h4 style="padding-top: 40px;">Create a new account now!</h4>
				<a href="" class="btn btn-primary" style="width:300px; font-size: 14pt; padding:10px;">Register</a>
				
				<h4 style="padding-top: 40px;">Already have an account?</h4>
				<a href="" class="btn btn-primary" style="width:300px; font-size: 14pt; padding:10px; margin-bottom: 60px;">Login</a>
			</div>
		</div>
	</div>
</div>
